/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}

.chocolates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chocolate {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 550px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.chocolate p {
  margin: 0;
}

.chocolate button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.custom-pack {
  margin-top: 30px;
}

.selected-chocolates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selected-chocolate {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 550px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.selected-chocolate p {
  margin: 0;
}

.selected-chocolate button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
